body {
    background-image: url(img/matt-hoffman-Q0AM87PsYkE-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    display: flex;
}

flex-container {
     flex-grow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    height: 350px;
    margin: auto;
    position: absolute;
   background-color: rgba(8, 55, 36, 0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
}

label {
    padding: 12px 12px 12px 0;
    font-family: font-family;
    font-size: 24px;
    color: white;
}